/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

/*какого-то хера код ниже
не работает из файла style.css*/
.header__title {
  font-family: var(--font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /*clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) */
  font-weight: bold;
  line-height: 0.825;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer__title {
  font-family: var(--font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /*clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) */
  font-weight: bold;
  line-height: 0.825;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}