/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  /* чтобы избежать горизонтальной полосы прокрутки
  inline-size: calc(100vi - 20px);*/
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  inline-size: 100%;
  min-block-size: 668px;
  block-size: 100vb;
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  color: var(--nav-color);
  padding: var(--main-gap);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-end: var(--main-gap);
  inset-inline-start: var(--main-gap);
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-start: var(--main-gap);
  inset-inline-end: var(--main-gap);
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  color: inherit;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
}

.header__theme-menu-button {
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  padding: 0 13px 6px;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color :var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-color);
  outline-color: var(--nav-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-color);
}

.header__main-title {
  font-family: var(--font);
  font-size: var(--font-size-M);
  font-weight: bold;
  line-height: 0.825;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.header__text {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 1.3;
  color: var(--card-title-color);
  block-size: fit-content;
  justify-self: end;
  align-self: start;
  white-space: pre-line;
  margin-block-start: 40px;
}

.title-decor {
  background-color: var(--accent-color);
}

.element-decor {
  position: absolute;
  inset-inline-end: 38px;
  margin-block-start: var(--main-gap);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.4;
  color: var(--accent-color);
}

.element-decor::after {
  content: '';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  vertical-align: middle;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 1px var(--accent-color)) 
    drop-shadow(0px 0px 1px var(--accent-color))
    drop-shadow(0px 0px 1px var(--accent-color))
    drop-shadow(0px 0px 1px var(--accent-color));
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-between);
  margin: var(--main-margin-b) var(--main-gap);
}

.section {
  display: grid;
  gap: var(--section-grid-gap);
  inline-size: 100%;
}

.section-title {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 1.3;
  color: var(--section-title-color);
}

.section-img__title {
  color: var(--card-title-color);
}

.card {
  inline-size: 100%;
}

.card__title {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 1.3;
  color: var(--card-title-color);
}

.card__text {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.3;
  color: var(--card-text-color);
  margin-block-start: var(--card__text-margin);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--card-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--card-text-color);
  outline-offset: -1px;
}

.card__advice-title {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.3;
  color: var(--card-title-color);
}

.section-img {
  gap: var(--main-gap);
}

.img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
} /*возможно неудачное имя*/

.footer {
  inline-size: 100%;
  min-block-size: 668px;
  block-size: 100vb;
  display: grid;
  position: relative;
  justify-content: center;
  align-content: center;
}

.footer .decorated-zone::before {
  inset-block-end: 0;
}

.footer .decorated-zone::after {
  inset-block-start: 0;
}

.footer__title {
  font-family: var(--font);
  font-size: var(--font-size-M);
  font-weight: bold;
  line-height: 0.825;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width < 768px) {
  .header__theme-menu {
    margin-block-start: var(--main-gap);
  }
}

/*делаем адаптив*/
@media (width >= 768px) {
  .header__main-title {
    margin-inline-start: calc(0px - var(--main-gap));
  }

  .header__text {
    inline-size: calc((100vi - 2 * var(--main-gap)) / 2);
  }

  .element-decor {
    inset-inline-end: 48px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
  }

  .card {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .section-how .section-title {
    grid-row: 1 / 3;
  }

  .section .card__title {
    grid-column: span 2;
  }

  .section-img__title {
    display: flex;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .section-img__container {
    display: flex;
  }

  .img-sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .img-ice-cream {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .img-tape {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .img-books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .img-street{
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    margin-block-start: 110px;
  }

  .header__text {
    margin-block-start: 50px;
  }

  .section-what .card {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

@media (width >= 1024px) {
  .header {
    gap: var(--main-gap);
  }

  .header__main-title {
    font-size: var(--font-size-L);
  }

  .footer__title {
    font-size: var(--font-size-L);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .section-what .section-title {
    max-inline-size: calc((100vi - 2 * var(--main-gap)) / 3);
    grid-column: span 3;
  }
  
  .section-what .card {
    grid-column: span 1;
  }

  .section-what .card:last-of-type:nth-of-type(3n+4) {
    grid-column: 1 / 4;
  }

  .section-what .card:last-of-type:nth-of-type(3n+5) {
    grid-column: 2 / 4;
  }
}