/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  /* чтобы избежать горизонтальной полосы прокрутки*/
  inline-size: calc(100vi - 20px);
  background-image: url(/images/cover-image-dark.png);
  background-color: var(--bg-color);
  background-size: auto 100vb;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: var(--main-gap);
}

.header {
  inline-size: 100%;
  block-size: calc(100vb - var(--main-gap));
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  color: var(--nav-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-end: var(--main-gap);
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  color: inherit;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
}

.header__theme-menu-button {
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  padding: 0 13px 6px;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color :var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-color);
}

.header__main-title {
  align-self: start;
  font-family: var(--font);
  font-size: var(--font-size-M);
  font-weight: bold;
  line-height: 0.825;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.header__text {
  letter-spacing: 0.01rem;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 1.3;
  color: var(--card-title-color);
  block-size: fit-content;
  justify-self: end;
  align-self: start;
  margin-block-start: 35px;
}

.title-decor {
  background-color: var(--accent-color);
}

.element-decor {
  position: absolute;
  inset-inline-end: 28px;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.4;
  color: var(--accent-color);
}

.element-decor::after {
  content: '';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  vertical-align: middle;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 1px var(--accent-color)) 
    drop-shadow(0px 0px 1px var(--accent-color))
    drop-shadow(0px 0px 1px var(--accent-color))
    drop-shadow(0px 0px 1px var(--accent-color));
}

.main {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--section-between);
  margin-block: var(--main-margin-b);
}

.section {
  display: grid;
  gap: var(--section-grid-gap);
  letter-spacing: 0.01rem;
}

.section-title {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 1.3;
  color: var(--accent-color);
}

.section-img__title {
  color: var(--card-title-color);
}

.card__title {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 1.3;
  color: var(--card-title-color);
}

.card__text {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.3;
  color: var(--card-text-color);
  margin-block-start: var(--card__text-margin);
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
  line-height: 0.5;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  border: 1px solid var(--card-text-color);
}

.card__advice {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.3;
  color: var(--card-title-color);
  margin-block-start: var(--section-grid-gap);
}

.section-img {
  gap: var(--main-gap);
}

.img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
} /*возможно неудачное имя*/

.footer {
  inline-size: 100%;
  block-size: calc(100vb - var(--main-gap));
  display: grid;
  position: relative;
  justify-content: center;
  align-content: center;
}

.footer .decorated-zone::before {
  inset-block-end: 0;
}

.footer .decorated-zone::after {
  inset-block-start: var(--main-gap);
}

.footer__title {
  font-family: var(--font);
  font-size: var(--font-size-M);
  font-weight: bold;
  line-height: 0.825;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width < 768px) {
  .header__theme-menu {
    margin-block-start: 5px;
    margin-inline-end: 5px;
  }

  .header__text {
    margin-inline-end: 5px;
  }

  .footer {
    margin-block-start: -15px; 
    /*положение img не соотв макету 375px*/
  }
}

/*делаем адаптив*/
@media (width >= 768px) {
  .header__theme-menu {
    margin-inline-end: 0px;
  }

  .header__text {
    inline-size: calc((100vipx - 2 * var(--main-gap)) / 2);
  }

  .footer {
    margin-block-start: 80px; 
    /*положение img не соотв макету 373px*/
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
  }

  .card {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .section-img__title {
    display: flex;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .section-img__container {
    display: flex;
  }

  .img-sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .img-ice-cream {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .img-tape {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .img-books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .img-street{
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    margin-block-start: 105px;
  }

  .section {
    letter-spacing: 0.01rem;
  }
  
  .section-what .card {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

@media (width >= 1024px) {
  .header {
    gap: var(--main-gap);
  }
  
  .header__main-title {
    font-size: var(--font-size-L);
  }

  .footer__title {
    font-size: var(--font-size-L);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section-what .section-title {
    grid-area: title;
  }

  .card-multitask {
    grid-area: card-multitask;
  }

  .card-food {
    grid-area: card-food;
  }

  .card-gadgets {
    grid-area: card-gadgets;
  }

  .section-what {
    grid-template-areas: "title . ." "card-multitask card-food card-gadgets";
  }
}