/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --card-text-color: #f1b2CE;
  --card-title-color: #000028;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --nav-color: #ff0070;

  --font: 'IBM Plex mono', sans-serif;
  --font-size: 18px;

  /*отступы*/
  --header-margin: 10px; /*20px*/
  --main-margin-b: 40px; /*60px*/
  --section-between: 50px; /*80px*/
  --section-grid-gap: 20px;
  --header__theme-menu-button-gap: 10px;
  --card__advice-margin-b-s: 20px;
  --card__text-margin-b-s: 10px;
}